{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>POPIS PROFESORA</h2>

<h4><a href="/insert_user"> DODAJ PROFESORA </a><br><br></h4>

<table class="pregled">
    <tr>
        <th>Username</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <form method="POST">
        {% for user in profesori %}
        {% if user.role == 'PROFESOR' %}
            <tr>
                <td> {{user}} </td>
                <td> <a href="{% url 'details_user' user.id %}"> Details </a></td>
                <td> <a href="{% url 'edit_user' user.id %}"> Edit </a> </td>
                <td> <a href="{% url 'delete_user' user.id %}"> Delete </a></td>
            </tr>
        {% endif %}
    {% endfor %}
    </form>
</table>


{% endblock %}